.container {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container textarea { 
  width: 100%;
  padding: 14px;
  resize: vertical;
  border-radius: .25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border: solid black;
  margin-right: 1rem;
}

.container button {
  margin-left: .5rem;
  margin-right: 1rem;
  padding: .75rem;
  color: white;
  font-weight: 600;
  background: #015401;
  border-radius: 1rem;
  border: none;
}

.container select {
  padding: .5rem;
  color: white;
  font-weight: 600;
  background: black;
  border-radius: 1rem;
  border: none;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
