.container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  height: 3rem;
  width: 100%;
}

.container img {
  min-width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 2rem;
  margin: 0;
  padding: 0;
}

.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  height: 100%;
  width: 100%;
}

.container form input { 
  background-color: black;
  color: white;
  border: none;
  padding: 0 1rem;
  margin: 0;
  height: 2rem;
  border-radius: 2rem;
}

.container form input:focus { 
  outline: none
}

.container button {
  border: none;
  background-color: black;
  color: white;
  min-width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container select {
  border: none;
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
}