.container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  padding-bottom: .5rem;
}

.container .search {
  width: 100%;
  padding: 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  border: none;
  outline: none;
  height: 3rem;
  background-color: white;
  box-shadow: 0 .125rem .125rem 0 #00000080;
}

.container .search > * {
  background-color: black;
  color: white;
  height: 2rem;
  padding: 0 .5rem;
}

.container .search i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem 0 0 .5rem;
}

.container .search input {
  border: none;
  border-radius: 0 .5rem .5rem 0;
}

.container .search input:focus {
  outline: none;
}