.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: .5rem;
  width: 100%;
  padding: 0 1rem;
}

#avatar {
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 2rem;
  padding: 0;
  margin: 0;
}

.container .content {
  background-color: black;
  color: white;
  padding: .5rem 1rem;
  border-radius: .5rem;
  width: 100%;
}

.container .content p {
  padding: 0;
  margin: 0;
}

.container .content p:first-child {
  font-weight: bold;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
}

.rating i {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete {
  background-color: black;
  color: white;
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: none;
}
