.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  gap: .5rem;
  width: 100%;
}

.container .profilePhoto {
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: .5rem;
}

.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: .5rem;
}

.container form input {
  height: 100%;
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  height: 100%;
  padding: 0 1rem;
  border-radius: .5rem;
}

.container form input:focus {
  outline: none;
}

.container form button {
  height: 2rem;
  min-width: 2rem;
  width: 2rem;
  border: none;
  background-color: black;
  color: white;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form button i {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
