.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background-color: white;
  box-shadow: 0 .125rem .125rem 0 #00000080;
}

.container .sort {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
}

.container .search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  border: none;
  outline: none;
  height: 2rem;
}

.container .search > * {
  background-color: black;
  color: white;
  height: 100%;
  padding: 0 .5rem;
}

.container .search i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem 0 0 2rem;
}

.container .search input {
  border: none;
  border-radius: 0 2rem 2rem 0;
}

.container .search input:focus {
  outline: none;
}