.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.label,
.button {
  margin-right: .5rem;
  margin-bottom: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  height: 2rem;
  border-radius: .5rem;
}

label {
  font-weight: bold;
}

.container button {
  align-items: center;
  justify-content: center;
  gap: .5rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: .5rem;
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
  width: 6rem;
}

.photoInput {
  text-align: center;
  height: 2rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: black;
  color: white;
  width: max-content;
}
