.container {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.container img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 12rem;
}
